@import url("~leaflet/dist/leaflet.css");
.leaflet-container {
  position: fixed;
  width: 100%;
  height: 70vh;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --dark-grey: hsl(0, 0%, 59%);
  --very-dark-grey: hsl(0, 0%, 17%);
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  background: transparent;
  position: relative;
}

button {
  padding: 0;
  margin: 0;
  width: 20%;
  height: 100%;
  background-color: var(--very-dark-grey);
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

button:hover {
  filter: brightness(140%);
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 4;
  width: 100%;
  height: 30vh;
  background-image: url(./images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  color: white;
  font-weight: 500;
  margin: 1rem 0 1rem 0;
}

h2 {
  color: var(--dark-grey);
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 10px;
  display: inline-block;
}

header form {
  width: 40%;
  height: 50px;
}
input {
  border-radius: 10px 0px 0px 10px;
  height: 100%;
  width: 80%;
  padding: 10px;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.map {
  z-index: 0;
  position: relative;
}

.data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  position: absolute;
  z-index: 999;
  border-radius: 10px;
  width: 80%;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  margin: 25vh auto;
}

.data-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  padding-left: 20px;
  text-align: left;
  line-break: loose;
  grid-column: span 1;
}

.data-item p {
  font-size: 1.4rem;
  font-weight: 700;
}

.vl {
  border-left: 1px solid hsla(0, 0%, 59%, 0.44);
  height: 60px;
  position: absolute;
  left: 100%;
  top: calc(50% - 20px);
}

@media (max-width: 1000px) {
  .data {
    grid-template-columns: repeat(2, 1fr);
  }
  .data-item {
    width: 50%;
  }
  .vl {
    display: none;
  }
}
@media (max-width: 600px) {
  article header {
    height: 100%;
  }

  .data {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 15vh;
    max-height: 400px;
  }
  .data-item {
    text-align: center;
    width: 100%;
    word-wrap: normal;
    word-break: break-all;
    padding: 0;
  }

  .leaflet-container {
    position: relative;
    height: 500px;
  }

  header form {
    width: 70%;
    margin-bottom: 8rem;
  }

  header h1 {
    margin: 0.5rem 0;
  }

  input {
    font-size: 1rem;
  }

  .data-item p {
    font-size: 1.2rem;
  }

  .data-item h2 {
    font-size: 0.8rem;
  }
}
